
certs/jolly-vole-ca.crt
cockroach-v20.2.4.windows-6.2-amd64/cockroach-v20.2.4.windows-6.2-amd64/cockroach.exe
cockroach-v20.2.4.windows-6.2-amd64/cockroach-v20.2.4.windows-6.2-amd64/lib/libgeos.dll
cockroach-v20.2.4.windows-6.2-amd64/cockroach-v20.2.4.windows-6.2-amd64/lib/libgeos_c.dll
cockroach.exe
lib/libgeos.dll
node_modules/qr-scanner/LICENSE
lib/libgeos_c.dll
node_modules/qr-scanner/package.json
node_modules/qr-scanner/qr-scanner-worker.min.js
node_modules/qr-scanner/qr-scanner-worker.min.js.map
node_modules/qr-scanner/qr-scanner.min.js
node_modules/qr-scanner/qr-scanner.min.js.map
node_modules/qr-scanner/qr-scanner.umd.min.js
node_modules/qr-scanner/qr-scanner.umd.min.js.map
node_modules/qr-scanner/README.md
node_modules/qr-scanner/src/qr-scanner.js
node_modules/qr-scanner/types/qr-scanner.d.ts
